body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(chicago.jpg);
  background-size: cover;
}
#ian {
	color:#698B69
}
#ian2 {
	color:#872657;
}
#ian3 {
	color:#191970;
}
img {
	width: 100px;
}
.container {
	color: black;
}