body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(chicago.jpg);
  background-size: cover;
}
#profile {
	width: 1200px;
	margin: 50px ;
}
#ian {
  width: 400px;
  margin: 1px auto 1px auto;
  color: #50c878;
}
h1 {
	color: #50c878;
	font-weight: 600;	
}
h4 {
	color: #50c878;
}
.solo {
	color: hotpink;
}
img {
	width: 100px;
}
#ian2 {
	width: 160px;
}
.jumbotron {
	height: 300px;
}
.container {
	color: #50c878;
}
.white {
	color: white;	
}
.black {
	color: black;
}
#ad {
	background-color: black;
	color: white;
}
.navbar .navbar-inverse .navbar-fixed > .active > a, {
	color: white
	background: white;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #8a0e0b;
    background-color: #d65c14;