body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(chicago.jpg);
  background-size: cover;
}
#profile {
	width: 1200px;
	margin: 50px ;
}
#ian {
  width: auto;
  margin: 1px auto 1px auto;
  color: #50c878
}
h1 {
	color: #50c878;
	font-weight: 600;	
}
h4 {
	color: #50c878;
}
.solo {
	color: hotpink;
}
.solo2 {
	color: black;
}
img {
	width: 100px;
}
#ian2 {
	width: 160px;
}
.jumbotron {
	height: auto;
}
.container {
	color: black;
}
.white {
	color: white;	
	background-color:gray;
}
.black {
	color: black;
}
#ad {
	background-color: black;
	color: white;
}
.navbar .navbar-inverse .navbar-fixed > .active > a, {
	color: white
	background: white;
}
